.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, .125);
    outline: none;
}

.accordion-button::after {
    filter: brightness(0) invert(1);
}

.accordion-button[aria-expanded="true"]::after {
    filter: brightness(0) invert(1) hue-rotate(180deg);
}

.collapsing {
    transition: height .5s ease;
}

.prf-descrip {
    width: 100% ;
    background-color: var(--bs-second);
    border-radius: 8px;
}
.prf-descrip:focus{
   outline: none;
}
