.m-head{
    width: 95%;
}

.btn-1:hover {
    background-color: var(--bs-second);
    color: var(--bs-primary);
}
@media only screen and (min-width: 768px) and (max-width: 980px) {
  
}

@media only screen and (min-width: 475px) and (max-width: 767px) {
    .slider-head{
        font-size: 20px;
     }
  }
  
  @media only screen and (min-width: 375px) and (max-width: 478px) {
    .slider-head{
        font-size: 15px;
     }
  }
  
  @media only screen and (min-width: 320px) and (max-width: 375px) {
    .slider-head{
       font-size: 14px;
    }
  }